# TEYI Kodjo Jerome sedowo

Exercise.

# url
url = 'https://dakar-auto.com/senegal/motos-and-scooters-3?&page=3'

* scrape the following informations: 
* brand, model, year,reference, kms driven, adress, price
* from page 1 to 14
* clean the scraped data

In [17]:
from requests import get

from bs4 import BeautifulSoup as bs

import pandas as pd

In [18]:
df = pd.DataFrame()

for p in range(1,15):
    url = f'https://dakar-auto.com/senegal/motos-and-scooters-3?&page={p}'
    res = get(url)
    soup = bs(res.text, 'html.parser')
    
    containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3')
    
    data = []

    for container in containers :
        try:
            gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()

            brand = gen_inf[0]

            model = ''.join(gen_inf[1:len(gen_inf)-1])

            year = gen_inf[-1]

            # Scrape the reference, kilometer driven

            gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')

            reference = gen_inf2[0].text.strip().replace("Ref. ","")

            kms_driven = gen_inf2[1].text.strip().replace(" km","")

            # adress, price

            price = container.find('h3', class_="listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().replace(" F CFA","").replace("\u202f","")

            adress1 = container.find('span', class_ = "town-suburb d-inline-block").text.strip()
            adress2 = container.find('span', class_ = "province font-weight-bold d-inline-block").text.strip()
            adress = adress1 + adress2
            dic = {'brand':brand ,
                  'model':model,
                   'year':year,
                   'reference':reference,
                   'kms_driven':kms_driven,
                   'adress':adress,
                   'price':price}
            data.append(dic)
        except:
            pass

    DF = pd.DataFrame(data)
    df = pd.concat([df,DF], axis = 0).reset_index(drop = True)

In [19]:
df.shape

(197, 7)

In [20]:
df.head(10)

,brand,model,year,reference,kms_driven,adress,price
0,Yamaha,TMax,2020,139327,14000,"Ouakam,Dakar",3900000
1,Yamaha,X-Max,2020,139325,10000,"Yoff,Dakar",1200000
2,Honda,CBF,2014,139317,55000,"Grand-Dakar,Dakar",1150000
3,Piaggio,Xevo,2012,139278,1,"Parcelles Assainies,Dakar",490000
4,Aprilia,Mojito,2018,139255,150,"Grand-Dakar,Dakar",300000
5,BMW,GS,2019,139244,20000,"Sicap Liberté,Dakar",4900000
6,BMW,GS,2021,139245,17000,"Sicap Liberté,Dakar",2500000
7,Ducati,999,2024,139247,500,"Sicap Liberté,Dakar",7900000
8,BMW,R,2023,139246,7000,"Sicap Liberté,Dakar",4900000
9,BMW,GS,2023,139248,2000,"Sicap Liberté,Dakar",6900000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brand       197 non-null    object
 1   model       197 non-null    object
 2   year        197 non-null    object
 3   reference   197 non-null    object
 4   kms_driven  197 non-null    object
 5   adress      197 non-null    object
 6   price       197 non-null    object
dtypes: object(7)
memory usage: 10.9+ KB

In [22]:
df.dtypes

brand         object
model         object
year          object
reference     object
kms_driven    object
adress        object
price         object
dtype: object

**we will look clearly in our cloumns and identify exctly what we will do in the data cleaning**

In [23]:
df.columns

Index(['brand', 'model', 'year', 'reference', 'kms_driven', 'adress', 'price'], dtype='object')

In [24]:
variable = ['brand', 'model', 'year', 'reference', 'kms_driven', 'adress', 'price']

for pr in variable:
    print(f"we will print unique value of", pr)
    
    print('')
    print(df[pr].unique())
    print('')

we will print unique value of brand

['Yamaha' 'Honda' 'Piaggio' 'Aprilia' 'BMW' 'Ducati' 'Beverly' 'KTM'
 'Peugeot' 'Kymco' 'Triumph' 'Suzuki' 'Kawasaki' 'Gilera' 'Haouju' 'Bajaj'
 'Cagiva' 'Vespa' 'Keeway']

we will print unique value of model

['TMax' 'X-Max' 'CBF' 'Xevo' 'Mojito' 'GS' '999' 'R' 'F' 'Scrambler'
 'NSSForza' 'S' '350i' 'SH' 'PCX' 'jakarta' 'SX' 'Liberty' 'Tweet' 'Mxer'
 'People' 'Beverly' 'Carnaby' 'Xciting' 'SMR' 'Agility' 'Sprint' 'GSX-F'
 'Scoot' 'Burgman' 'XRVAfricaTwin' 'MT-09-TRACER' 'Zip' 'MT' 'UC-Epicuro'
 'Dink' 'Ninja' 'CB' 'SuperAdventure' 'DT' 'X-City' 'Moto' 'Scout' 'Duke'
 'Versys' 'RS' 'runnerfx' 'NRG' 'runner' 'GT' 'YBR' 'BruteForce' 'RG'
 'Haouju' 'CT125' 'bw' 'G' 'CX300' 'Bravo' 'TL' 'X9' 'cayon' 'NMAX' 'PS'
 'FJSSilverWing' 'Tracer' 'AFSWave' 'yamaha-fazer-600' 'C' 'GRIZZLY-550'
 'XLTransalp' 'CBR' 'FESPantheon' 'X-ADV' 'Iron' 'Majesty' 'Vespa' 'R1150'
 'KLR-650' 'LML' 'RC' 'Free' 'LX' 'XT600' 'FZ' 'kymco-like' 'Niken'
 'Address' 'GrandDink' 'cityblade' 'Like' 'Runner']

we will print unique value of year

['2020' '2014' '2012' '2018' '2019' '2021' '2024' '2023' '2022' '2017'
 '2016' '2015' '2011' '2009' '2013' '2000' '1994' '2006' '2008' '2010'
 '2005' '2007' '1995' '2002']

we will print unique value of reference

['139327' '139325' '139317' '139278' '139255' '139244' '139245' '139247'
 '139246' '139248' '139126' '139127' '139132' '139160' '139062' '139065'
 '139066' '139067' '139069' '139070' '139071' '139028' '139043' '138966'
 '138983' '138883' '138870' '138797' '138800' '138801' '138717' '138623'
 '138598' '138592' '138510' '138498' '138452' '138437' '138362' '138373'
 '138317' '138267' '138268' '138206' '138200' '138190' '138179' '138154'
 '138100' '138098' '138099' '137293' '138059' '138048' '138025' '137997'
 '137959' '137884' '137885' '137869' '137870' '137871' '137855' '137789'
 '137791' '137774' '137775' '137776' '137724' '137627' '137624' '137614'
 '137584' '137581' '137536' '137494' '137491' '137492' '137490' '137398'
 '137374' '137373' '137357' '137358' '137359' '137276' '137277' '137279'
 '137278' '137280' '137281' '137282' '137283' '137228' '137229' '137230'
 '137231' '137232' '137233' '137236' '137234' '137195' '137196' '137197'
 '137198' '137199' '137200' '137201' '137202' '137176' '137177' '137178'
 '137189' '137190' '137166' '137158' '137156' '137157' '137160' '137161'
 '137162' '137125' '137126' '137127' '137097' '137098' '137096' '137094'
 '137093' '137091' '137090' '136993' '136928' '136922' '136923' '136924'
 '136925' '136926' '136927' '136827' '136828' '136719' '136687' '136688'
 '136618' '136571' '136466' '136390' '136366' '136356' '136299' '136296'
 '136289' '136291' '136243' '136196' '136156' '136117' '136118' '136091'
 '136089' '136045' '136043' '136009' '136011' '135955' '135868' '135934'
 '135927' '135853' '135830' '135831' '135177' '135807' '135755' '135748'
 '135729' '135633' '135630' '135622' '135589' '135564' '135315' '135498'
 '135467' '135448' '135447' '135429' '135390' '135313' '135314' '134868'
 '134736' '134733' '134726' '134679' '134621']

we will print unique value of kms_driven

['14000' '10000' '55000' '1' '150' '20000' '17000' '500' '7000' '2000'
 '4000' '13000' '9000' '3000' '52917' '15000' '1000' '101000' '98000'
 '2533' '390' '25000' '250' '51122' '21500' '56586' '64000' '56500'
 '29590' '6000' '78000' '63000' '5000' '11900' '57000' '15' '83000'
 '37000' '23000' '150000' '11000' '121000' '300' '28000' '23789' '42000'
 '1111' '29000' '23027' '1500' '4900' '167' '30000' '39000' '120' '1700'
 '3400' '16000' '27000' '18' '24' '5' '160' '20' '125' '50' '40000'
 '35000' '3700' '11101' '77160' '45000' '47304' '580' '19000' '49000'
 '29150' '32000' '8000' '68000' '53761' '65437' '180' '60000' '200'
 '200000' '45' '100000' '23200' '6017' '58']

we will print unique value of adress

['Ouakam,Dakar' 'Yoff,Dakar' 'Grand-Dakar,Dakar'
 'Parcelles Assainies,Dakar' 'Sicap Liberté,Dakar' 'Hann Bel-Air,Dakar'
 'Plateau,Dakar' 'Mbao,Dakar' 'Point-E,Dakar' 'Guédiawaye,Dakar'
 'VDN,Dakar' 'Hann Maristes,Dakar' 'Scat Urbam,Dakar' 'Sipres,Dakar'
 'Ouest Foire,Dakar' 'Kaolack,Kaolack' 'Mamelles,Dakar' 'Thiaroye,Dakar'
 'Keur Massar,Dakar' 'Sicap Sacré Coeur,Dakar' 'Biscuiterie,Dakar'
 'Nord Foire,Dakar' 'Liberté 6 extension,Dakar' 'Golf,Dakar'
 'Cambérène,Dakar' 'Pikine Nord,Dakar' 'Saint-Louis,Saint-Louis'
 'Gueule-Tapée, Fass, Colobane,Dakar' 'Cité Keur gorgui,Dakar'
 'Mermoz Sacré-Coeur,Dakar' 'Mbacke,Diourbel' 'Yeumbeul Nord,Dakar'
 'Sicap Dieuppeul,Dakar' 'Ziguinchor,Ziguinchor' 'Amitié,Dakar'
 'Rufisque,Dakar' 'Cité Avion,Dakar' 'Tivaouane Peulh,Dakar'
 'Grand-Yoff,Dakar' "Patte d'oie,Dakar" 'Thiès,Thiès' 'Fann,Dakar'
 'Almadies,Dakar' 'Zone Industrielle,Dakar' 'Liberté 6,Dakar' 'Hlm,Dakar'
 'Bargny,Dakar' 'Malika,Dakar' 'Mbour,Thiès' 'Dieuppeul Derklé,Dakar'
 'Médina,Dakar' 'Pikine Ouest,Dakar' 'Sicap Foire,Dakar' 'Fatick,Fatick'
 'Diamaguene Sicap Mbao,Dakar' 'Pout,Thiès' 'Ngor,Dakar']

we will print unique value of price

['3900000' '1200000' '1150000' '490000' '300000' '4900000' '2500000'
 '7900000' '6900000' '5500000' '3500000' '5900000' '1600000' '375000'
 '1900000' '650000' '350000' '1400000' '2350000' '2300000' '320000'
 '400000' '450000' '550000' '1800000' '1850000' '380000' '150' '750000'
 '700000' '1300000' '3600000' '2400000' '800000' '4500000' '175000'
 '1500000' '14000000' '600000' '330000' '4300000' '390000' '700' '250000'
 '1000000' '280000' '480000' '1730000' '2200000' '2850000' '1100000'
 '2000000' '2700000' '1350000' '340000' '500000' '1650000' '3850000'
 '8500000' '2680000' '2290000' '220000' '675000' '5750000' '70000'
 '180000' '6000000' '625000' '290000' '3000000' '3400000' '950000'
 '3380000' '475000' '2750000' '1700000' '3800000' '3250000' '325000'
 '5000000' '680000' 'NC' '3200000' '3300000']

**we clearly identify that our variable price have a value 'NC'. we will correct it**

In [25]:
df['price'] = df['price'].str.replace('NC','999')

* Now we will convert our variables : price, reference, year, kms_driven in to numerical int

In [26]:
numerical = ['year','reference','kms_driven','price']

for var in numerical:
    df[var] = df[var].astype('int')

In [27]:
df.dtypes

brand         object
model         object
year           int64
reference      int64
kms_driven     int64
adress        object
price          int64
dtype: object

* we will change our value 999 by the median price

In [28]:
median_price = df['price'][df['price'] != 999].median(skipna=True)
df['price'] = df['price'].apply(lambda x: median_price if x == 999 else x)

**We will check about missing value**

In [29]:
df.isna().any().sum()

0

* we will Check the existence of duplicated values on df

In [30]:
df.duplicated().sum().sum()

0

> Let exported our data

In [32]:
df.to_excel('TEYI_kodjo_motos_data.xlsx',index = False, header = True)