> TEYI Kodjo Jerôme Sedowo

* url = 'https://tonaton.com/c_mobile-phones'
* scrape data (details, price, location, condition, image_link) over 100 pages 
* using selenium only and using selenium combined with BeautifulSoup
* Clean the data

## USING SELENIUM ONLY

In [30]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [31]:
options = webdriver.ChromeOptions()
options.add_argument("--headless=new")
driver = webdriver.Chrome(options=options)

In [33]:
# create a empty dataframe df
df = pd.DataFrame()

for p in range(1,101) :
    
    url = f"https://tonaton.com/c_mobile-phones?page={p}"
       
    driver.get(url)

    # find containers 
    containers = driver.find_elements(By.CSS_SELECTOR, "[class= 'product__container flex']")
    
    
    data = []

    for container in containers :
        try :
            # get the details 
            details = container.find_element(By.CLASS_NAME, 'product__description').text

            # get the price 
            price = container.find_element(By.CLASS_NAME, "product__title").text.replace("GH₵ ","").replace(",","")


            # get the location
            location =  container.find_element(By.CLASS_NAME, "product__location").text

            # get the condition

            condition = container.find_element(By.CSS_SELECTOR, "[class= 'product__tags flex wrap']").text

            # image Link

            image_link = container.find_element(By.CSS_SELECTOR, "[class = 'product__image']").find_element(By.TAG_NAME, "img").get_attribute('src')

            dic = { 'details':details,
                   'price':price,
                   'location':location,
                   'condition':condition,
                  'image_link':image_link}

            data.append(dic)

        except:
            pass

        DF = pd.DataFrame(data)

    df = pd.concat([df,DF], axis = 0).reset_index(drop =True)

In [34]:
df.head()

,details,price,location,condition,image_link
0,New Samsung Galaxy Note 10 Plus 256 GB Black,4000,"Greater Accra, Ablekuma",Brand New\n12 GB\n6.1 > inches,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
1,New Google Pixel 7 128 GB Green,4200,"Greater Accra, Accra Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
2,New Google Pixel 9 Pro XL 256 GB Black,16999,"Ashanti, Kumasi Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
3,New Huawei Y9 2019 128 GB Black,1090,"Greater Accra, Roman Ridge",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
4,New Apple iPhone 15 Pro Max 256 GB Gray,12000,"Greater Accra, Accra Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   details     1800 non-null   object
 1   price       1800 non-null   object
 2   location    1800 non-null   object
 3   condition   1800 non-null   object
 4   image_link  1800 non-null   object
dtypes: object(5)
memory usage: 70.4+ KB

In [36]:
df['price'] = df['price'].astype('int')

In [37]:
df.duplicated().sum().sum()

0

In [38]:
df.isna().any().sum()

0

In [39]:
df.dtypes

details       object
price          int32
location      object
condition     object
image_link    object
dtype: object

In [40]:
df.to_excel('selenium_data_phone.xlsx', index = False, header = True)

## using selenium combined with BeautifulSoup

In [11]:
# import Beautifulsoup
from bs4 import BeautifulSoup as bs

In [12]:
df_2 = pd.DataFrame()

for p in range(1,101) :
    
    url = f"https://tonaton.com/c_mobile-phones?page={p}"
    
    driver.get(url)
    
    # get the code 
    
    res = driver.page_source
    
    # store the code in a Beautifulsoup objet 
    
    soup = bs(res, 'html.parser')
    
    # find containers
    containers = soup.find_all('div', class_ = 'product__container flex')
    
    data = []
    
    for container in containers :
        
        try :
        
            details = container.find('p', class_ = 'product__description').text

            price = container.find('span', class_ = "product__title").text.replace("GH₵ ","").replace(",","")

            # get the location

            location =  container.find('p', class_ = "product__location").text

            condition = container.find('div', class_ = "product__tags flex wrap").text

            image_link = container.find('div', class_ = "product__image").img['src']

            dic = { 'details':details,
                   'price':price,
                   'location':location,
                   'condition':condition,
                  'image_link':image_link}

            data.append(dic) 
        except:
            pass
        
        DF = pd.DataFrame(data)
        
    df_2 = pd.concat([df_2,DF], axis = 0).reset_index(drop = True)

In [13]:
df_2.head()

,details,price,location,condition,image_link
0,New Samsung Galaxy Note 10 Plus 256 GB Black,4000,"Greater Accra, Ablekuma",Brand New 12 GB 6.1 > inches,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
1,New Google Pixel 7 128 GB Green,4200,"Greater Accra, Accra Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
2,New Google Pixel 9 Pro XL 256 GB Black,16999,"Ashanti, Kumasi Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
3,New Huawei Y9 2019 128 GB Black,1090,"Greater Accra, Roman Ridge",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
4,New Apple iPhone 15 Pro Max 256 GB Gray,12000,"Greater Accra, Accra Metropolitan",Brand New,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...

In [14]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   details     1800 non-null   object
 1   price       1800 non-null   object
 2   location    1800 non-null   object
 3   condition   1800 non-null   object
 4   image_link  1800 non-null   object
dtypes: object(5)
memory usage: 70.4+ KB

In [15]:
df_2.duplicated().sum().sum()

0

In [16]:
df_2.drop_duplicates(inplace = True)

In [17]:
df_2.duplicated().sum()

0

In [18]:
df_2.isnull().any().sum()

0

In [19]:
df_2['price'].unique()

array(['4000', '4200', '16999', '1090', '12000', '1980', '750', '7600',
       '850', '10500', '9850', '1250', '1490', '3580', '1050', '1580',
       '4300', '999', '820', '11000', '420', '11900', '4849', '1100',
       '500', '680', '1190', '8530', '1690', '450', '1290', '580', '2069',
       '3500', '2690', '8300', '2790', '9500', '8500', '19000', '4150',
       '6000', '5800', '7300', '3530', '1000', '2050', '1399', '1700',
       '7950', '1750', '7700', '2450', '2200', '1550', '1800', '1500',
       '4800', '1280', '2320', '10300', '2000', '2100', '5500', '15500',
       '1200', '7400', '3600', '2600', '2400', '2210', '1400', '7000',
       '5000', '9999', '4500', '14700', '440', '2800', '7550', '2995',
       '7770', '2850', '4700', '2650', '11500', '3400', '12300', '6230',
       '6720', '5520', '1900', '5300', '1699', '1150', '880', '1777',
       '10750', '1650', '190', '2700', '6500', '7800', '2900', '2199',
       '4750', '17000', '9600', '4960', '15400', '19500', '9800', '6800',
       '3300', '5790', '3250', '7900', '7500', '6300', '790', '2500',
       '3200', '7250', '2980', '2300', '16500', '5700', '23000', '990',
       '24500', '5200', '26500', '3690', '455', '16760', '3550', '9100',
       '8000', '2499', '6150', '1950', '1350', '920', '6100', '1680',
       '4550', '10000', '2590', '6440', '3800', '2680', '5250', '3390',
       '2150', '3100', '4380', '7750', '5850', '6200', '2250', '8200',
       '9900', '2350', '400', '1380', '15000', '1300', '12500', '900',
       '16000', '490', '6700', '1600', '650', '3450', '3950', '3750',
       '1570', '2550', '6400', '3700', '4900', '6999', '2599', '3320',
       '1450', '1165', '470', '4799', '2920', '1499', '18900', '360',
       '7670', '770', '2480', '530', '33000', '3900', '8800', '8430',
       '6770', '3000', '5100', '14000', '200', '800', '9000', '4050',
       '6600', '25000', '5499', '1799', '2399', '5350', '367', '7523',
       '16200', '3150', '5150', '10777', '1480', '12800', '8400', '480',
       '195', '945', '1780', '2750', '1899', '13000', '590', '6499',
       '3280', '980', '3399', '1850', '570', '1520', '830', '3650',
       '8700', '20213', '1080', '4833', '280', '720', '295', '940',
       '4350', '3999', '1790', '8350', '14200', '9499', '6900', '28500',
       '14500', '749', '2950', '2260', '1930', '15900', '1630', '9650',
       '2799', '10400', '670', '4400', '780', '395', '5450', '7100',
       '4100', '9300', '7790', '6350', '5650', '3499', '12600', '7999',
       '2990', '2880', '5600', '12222', '1060', '3888', '5950', '9950',
       '13500', '8050', '9350', '3285', '5599', '14800', '685', '1660',
       '2290', '26000', '3850', '6550', '3350', '8100', '18500', '6265',
       '2770', '4950', '405', '899', '9200', '3360', '3333', '550',
       '1560', '8870', '17500', '399', '5750', '2280', '6750', '9550',
       '5999', '1349', '2890', '7850', '430', '13200', '622', '4650',
       '8600', '4999', '5460', '6650', '1870', '9400', '460', '410',
       '9700', '950', '2560', '5400', '1849', '2640', '10111', '4080',
       '150', '6399', '1590', '230', '3799', '4490', '1230', '2010',
       '840', '2899', '22000', '2999', '6450', '18000', '9590', '2580',
       '11800', '3955', '27000', '4899', '960', '1320', '10560', '11999',
       '16300', '13800', '8900', '3849', '10100', '7820', '8250', '5900',
       '1940', '3330', '29000', '14444', '4450', '1720', '1988', '1830',
       '6370', '2820', '7200', '8150', '499', '3730', '2080', '2760',
       '4980', '555', '3490', '2340', '1370', '666', '707', '2430',
       '6250', '1770', '12280', '220', '7199', '1470', '250', '4970',
       '4990', '1640', '2380', '10730', '2190', '5480', '4390', '4250',
       '1360', '14999', '5799', '630', '1170', '1740', '8650', '21500',
       '2490', '10700', '16800', '199', '4480', '10840', '12200', '549',
       '1990', '7450', '5620', '600', '4499', '15350', '699', '2620',
       '11200', '3555', '17100', '9685', '380', '2610', '2170', '2699',
       '5470', '21000', '3299', '13399', '4600', '2030', '2370', '24000',
       '135', '5399', '10580', '2090', '10200', '1120', '10850', '700',
       '15380', '2429', '9399', '6545', '6310', '3199', '14400', '2240',
       '1420', '3599', '860', '10800', '1820', '1999', '649', '3370',
       '1860', '1598', '14499', '5270', '9960', '1862', '1960', '3510',
       '3380', '949', '890', '3090', '180', '970', '7350', '18350',
       '24999', '7150', '10450', '1330', '1683', '6050', '1880', '810',
       '7050', '2777', '5550'], dtype=object)

In [20]:
df_2['price'] = df_2['price'].astype('int')

In [21]:
df_2['price'].unique()

array([ 4000,  4200, 16999,  1090, 12000,  1980,   750,  7600,   850,
       10500,  9850,  1250,  1490,  3580,  1050,  1580,  4300,   999,
         820, 11000,   420, 11900,  4849,  1100,   500,   680,  1190,
        8530,  1690,   450,  1290,   580,  2069,  3500,  2690,  8300,
        2790,  9500,  8500, 19000,  4150,  6000,  5800,  7300,  3530,
        1000,  2050,  1399,  1700,  7950,  1750,  7700,  2450,  2200,
        1550,  1800,  1500,  4800,  1280,  2320, 10300,  2000,  2100,
        5500, 15500,  1200,  7400,  3600,  2600,  2400,  2210,  1400,
        7000,  5000,  9999,  4500, 14700,   440,  2800,  7550,  2995,
        7770,  2850,  4700,  2650, 11500,  3400, 12300,  6230,  6720,
        5520,  1900,  5300,  1699,  1150,   880,  1777, 10750,  1650,
         190,  2700,  6500,  7800,  2900,  2199,  4750, 17000,  9600,
        4960, 15400, 19500,  9800,  6800,  3300,  5790,  3250,  7900,
        7500,  6300,   790,  2500,  3200,  7250,  2980,  2300, 16500,
        5700, 23000,   990, 24500,  5200, 26500,  3690,   455, 16760,
        3550,  9100,  8000,  2499,  6150,  1950,  1350,   920,  6100,
        1680,  4550, 10000,  2590,  6440,  3800,  2680,  5250,  3390,
        2150,  3100,  4380,  7750,  5850,  6200,  2250,  8200,  9900,
        2350,   400,  1380, 15000,  1300, 12500,   900, 16000,   490,
        6700,  1600,   650,  3450,  3950,  3750,  1570,  2550,  6400,
        3700,  4900,  6999,  2599,  3320,  1450,  1165,   470,  4799,
        2920,  1499, 18900,   360,  7670,   770,  2480,   530, 33000,
        3900,  8800,  8430,  6770,  3000,  5100, 14000,   200,   800,
        9000,  4050,  6600, 25000,  5499,  1799,  2399,  5350,   367,
        7523, 16200,  3150,  5150, 10777,  1480, 12800,  8400,   480,
         195,   945,  1780,  2750,  1899, 13000,   590,  6499,  3280,
         980,  3399,  1850,   570,  1520,   830,  3650,  8700, 20213,
        1080,  4833,   280,   720,   295,   940,  4350,  3999,  1790,
        8350, 14200,  9499,  6900, 28500, 14500,   749,  2950,  2260,
        1930, 15900,  1630,  9650,  2799, 10400,   670,  4400,   780,
         395,  5450,  7100,  4100,  9300,  7790,  6350,  5650,  3499,
       12600,  7999,  2990,  2880,  5600, 12222,  1060,  3888,  5950,
        9950, 13500,  8050,  9350,  3285,  5599, 14800,   685,  1660,
        2290, 26000,  3850,  6550,  3350,  8100, 18500,  6265,  2770,
        4950,   405,   899,  9200,  3360,  3333,   550,  1560,  8870,
       17500,   399,  5750,  2280,  6750,  9550,  5999,  1349,  2890,
        7850,   430, 13200,   622,  4650,  8600,  4999,  5460,  6650,
        1870,  9400,   460,   410,  9700,   950,  2560,  5400,  1849,
        2640, 10111,  4080,   150,  6399,  1590,   230,  3799,  4490,
        1230,  2010,   840,  2899, 22000,  2999,  6450, 18000,  9590,
        2580, 11800,  3955, 27000,  4899,   960,  1320, 10560, 11999,
       16300, 13800,  8900,  3849, 10100,  7820,  8250,  5900,  1940,
        3330, 29000, 14444,  4450,  1720,  1988,  1830,  6370,  2820,
        7200,  8150,   499,  3730,  2080,  2760,  4980,   555,  3490,
        2340,  1370,   666,   707,  2430,  6250,  1770, 12280,   220,
        7199,  1470,   250,  4970,  4990,  1640,  2380, 10730,  2190,
        5480,  4390,  4250,  1360, 14999,  5799,   630,  1170,  1740,
        8650, 21500,  2490, 10700, 16800,   199,  4480, 10840, 12200,
         549,  1990,  7450,  5620,   600,  4499, 15350,   699,  2620,
       11200,  3555, 17100,  9685,   380,  2610,  2170,  2699,  5470,
       21000,  3299, 13399,  4600,  2030,  2370, 24000,   135,  5399,
       10580,  2090, 10200,  1120, 10850,   700, 15380,  2429,  9399,
        6545,  6310,  3199, 14400,  2240,  1420,  3599,   860, 10800,
        1820,  1999,   649,  3370,  1860,  1598, 14499,  5270,  9960,
        1862,  1960,  3510,  3380,   949,   890,  3090,   180,   970,
        7350, 18350, 24999,  7150, 10450,  1330,  1683,  6050,  1880,
         810,  7050,  2777,  5550])

In [22]:
df_2.dtypes

details       object
price          int32
location      object
condition     object
image_link    object
dtype: object

In [23]:
df_2.to_excel('selenium_and_Beautiful_Soup_data_phone.xlsx', index = False, header = True)

# USING SQLT3

In [27]:
#import sqlite3

import sqlite3

# Create a connection with a database (cell_phones.db)

conn = sqlite3.connect('phone_data.db')

# create a cursor (allows to interact with the database)

c = conn.cursor()

# create a table

c.execute('''CREATE TABLE PHONE_DATA_1(details, price, location, condition, image_link)''')

In [46]:
# create a empty dataframe df
df = pd.DataFrame()

for p in range(1,101) :
    
    url = f"https://tonaton.com/c_mobile-phones?page={p}"
       
    driver.get(url)

    # find containers 
    containers = driver.find_elements(By.CSS_SELECTOR, "[class= 'product__container flex']")

    for container in containers :
        try :
            # get the details 
            details = container.find_element(By.CLASS_NAME, 'product__description').text

            # get the price 
            price = container.find_element(By.CLASS_NAME, "product__title").text.replace("GH₵ ","").replace(",","")


            # get the location
            location =  container.find_element(By.CLASS_NAME, "product__location").text

            # get the condition

            condition = container.find_element(By.CSS_SELECTOR, "[class= 'product__tags flex wrap']").text

            # image Link

            image_link = container.find_element(By.CSS_SELECTOR, "[class = 'product__image']").find_element(By.TAG_NAME, "img").get_attribute('src')

            c.execute('''INSERT INTO PHONE_DATA_1 VALUES(?,?,?,?,?)''', (details, price, location, condition, image_link))
        
            c.commit()
            
        except:
            pass

In [47]:
# convert the table into a dataframe
import pandas as pd

df = pd.read_sql_query('''SELECT * FROM PHONE_DATA_1''', conn)

In [48]:
df.head()

,details,price,location,condition,image_link
0,Apple iPhone 7 Plus 32 GB Black,1550,"Greater Accra, Achimota",Used,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
1,New Samsung Galaxy S10 128 GB Black,3200,"Greater Accra, Dworwulu",Brand New\n8 GB\n6.1 > inches,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
2,Apple iPhone 13 Pro Max 256 GB Gold,7050,"Greater Accra, Accra Metropolitan",Used,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
3,Samsung Galaxy A53 5G 128 GB Black,2500,"Greater Accra, Accra Metropolitan",Used,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...
4,New Samsung Galaxy S6 edge 32 GB,1100,"Greater Accra, Circle",Brand New\n5.1-6 inches,https://tonaton.com/r/cGljdHVyZXMtZ2hhbmEuamlq...